# compiled output
/dist
/apps/balance-service/dist
/apps/rate-service/dist
/apps/balance-service/node_modules
/apps/rate-service/node_modules
/node_modules
/build


# dotenv environment variable files
.env


